.main-content{
    
    display: flex;
    display: block;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    background-color: rgb(157, 212, 212);
    border: solid 1px green;
    margin: 25px;
    height: 300px;

    
}

#quiz-content{
    display:none
}
